.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  color: var(--text);
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 300px;
}

.login input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.login button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: var(--accent);
  color: var(--button-text);
  cursor: pointer;
}
